<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ScavengerHuntProject1</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>

    <!-- Custom fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'> -->
    <!-- <link href="css/ionicons.min.css" rel="stylesheet" type="text/css"> -->
    <!-- <link href="css/animate.min.css" rel="stylesheet" type="text/css"> -->

    <!-- Background Slider -->
    <!-- <link href="js/vegas/vegas.min.css" rel="stylesheet" type="text/css"> -->

    <!-- Custom CSS -->
    <!-- <link href="css/csoon.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Preloader -->
<div id="preloader"><div id="status">&nbsp;</div></div>

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" data-wow-duration="3s" data-wow-delay=".2s" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div id="home-button">
        <%= link_to image_tag("star-8-32.png") + " Scavenger Hunt", reset_current_clue_path, method: :post %>
      </div>

    </div>

 
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.4s">
       
            <div class="">
              Logged in as <strong><%= current_user.email %></strong>.<br>
              <%= link_to 'Edit profile | ', edit_user_registration_path, :class => 'page-scroll' %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'page-scroll'  %>
            </div>
          <!-- </li> -->
        <% else %>
          <li>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'page-scroll'  %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path, :class => 'page-scroll'  %>
          </li>
        <% end %>

            </ul>
        </div>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
</nav>


<section class="action2 container-fluid text-center wow fadeIn">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Scavenger Hunt</h2>
            <%= yield %>
            <!-- <h3>CSOON IS THE PERFECT THEME FOR YOUR NEXT PROJECT!</h3> -->
            <!-- <p>It’s time to grow your business. Go make something awesome.</p> -->
            <!-- <p><a href="/" class="btn btn-white btn-lg">Get it Now!</a></p> -->
        </div>
    </div>
</section>

<!-- Contact Section -->

<!-- Map Section -->
<!-- <div id="map" class="wow fadeIn"></div> -->

<section id="contact" class="container-fluid text-center wow fadeIn">
    <div class="overlay"></div>
    <div class="row">
        <!-- <div class="col-md-3">
            <h3>(123) 456-7890</h3>
        </div> -->
        <div class="span12">
          Created by Students of The Flatiron School<br>
          <i class="fa fa-map-marker"></i> 11 Broadway New York, NY 10004<br>
          Copyright &copy; Scavenger Hunt NYC 2015
        </div>
    </div>
</section>

<%= javascript_include_tag 'application' %>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<!-- <script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/device.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/smoothscroll.js"></script> -->

<!-- Google Map -->
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&amp;sensor=false"></script>
<!-- <script src="js/map.js"></script> -->

<!-- Background image -->
<!-- <script src="js/vegas/vegas.min.js"></script> -->
<script>
    $('body').vegas({ slides: [{
        src: 'vendor/assets/images/2.jpg'
    } ] });
</script>

<!-- Custom Theme JavaScript -->
<!-- <script src="js/csoon.js"></script> -->

</body>
</html>
